.cinema-container {
  display: flex;
  flex-direction: column; /* Change from row to column to stack elements vertically */
  align-items: center; /* Center align the elements */
  padding: 20px;
  background-color: #f0f0f0;
}

.screen {
  width: 60%;
  height: 50px;
  background-color: #1f86fc;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
}

.seats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  align-items: center;
}

.rowname {
  width: 30px;
  text-align: center;
}

.seat {
  width: 40px;
  height: 40px;
  background-color: green;
  border: 1px solid #999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: background-color 0.3s ease;
}

.seat.seattaken {
  background-color: red;
  cursor: not-allowed;
}

.seat-form {
  margin-top: 20px; /* Added margin-top to separate the form from the seats */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.success {
  display:flex;
  width: 300px;
  height: 20px;
  border: 2px solid green;
  font-family: 'Franklin Gothic Medium';
  color: black;
  background-color: yellowgreen;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}
